<nav class="navbar toolbar">
  <a class="navbar-brand" href="#">
    <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  /></a>

  <form class="form-inline">
    <div class="button b2" id="nav-lang-switch">
      <input type="checkbox" class="checkbox" />
      <div class="knobs">
        <span>PT</span>
      </div>
      <div class="layer"></div>
    </div>

    <ul class="navbar-list px-3">
      <li>Últimas atualizações</li>
      <li>{{ lastUpdate | date: "dd/MM/yy hh:mm a" }}</li>
    </ul>
    <button
      type="button"
      class="btn btn-default navbar-toggler"
      aria-label="Left Align"
    >
      <span class="bi bi-list"></span>
    </button>
  </form>
</nav>

<div class="content p-5">
  <ng-container
    *ngFor="let region of regions; let i = index; let lastIndex = last"
  >
    <div class="row" *ngIf="i % 5 == 0">
      <div *ngFor="let region of regions.slice(i, i + 5); let j = index">
        <div
          [ngClass]="
            j == 2 || j === 4
              ? 'col-md-4 col-lg-3 col-sm-12'
              : 'col-md-4 col-lg-2 col-sm-12'
          "
        >
          <app-region-card [region]="region"></app-region-card>
        </div>

        <div
          class="col-md-4 col-lg-3 col-sm-12"
          *ngIf="i + j === regions.length - 1"
        >
          <app-bar-chart [regions]="regions"></app-bar-chart>
        </div>
      </div>
    </div>
  </ng-container>
</div>
